* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-page {
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/14653.jpg');
}
.register-page {
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/14653.jpg');
}
/* Center container styling */
.container {
    width: 350px;
    /*background-image: url("https://pin.it/34JSpF2Se");*/
    margin: auto;
    margin-top: 100px;
   /* background: rgba(255, 255, 255, 0.7);*/
    padding: 20px;
    border-radius: 10px;
}


h1 {
    color: #1ba94c;
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-bottom: 6px;
    font-size: 15px;
}

input {
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #1ba94c;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background: #178f41;
}

.register-text {
    margin-top: 18px;
    font-size: 14px;
    text-align: center;
}

.register-text a {
    color: #6a0dad;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}
.box{
    height: 200px;
    width: 200px;
    background-color: 2s;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/14653.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 2s;
    object-fit: contain;
}
.box:hover{
    background-color: aliceblue;
    transform: scale(1,1) rotate(180deg);
}
/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: white;
}

/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
    background-color: white;
}

.logo-image {
    width: 140px;
}

/* NAVIGATION */
.header-items {
    list-style: none;
    display: flex;
    gap: 30px; /* space between menu items */
}

.header-items li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.header-items li a:hover {
    opacity: 0.7;
}

/* CENTER IMAGE */
.center-img {
    display: block;
    margin: 40px auto;  /* centers image */
    width: 250px;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}
